/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-image: url('/images/cover-image-dark.png');
  --page-bg-color: #000028;
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
  --text-color: #000028;
  --text-description-color: #F1B2CE;
  --primary-color: #FF0070;
}

.theme-dark .rec {
  display: inline-flex;
  color: var(--accent-color);
}

