/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--page-padding);
  color: var(--accent-color);
  block-size: 100vh;
  min-block-size: var(--min-block-size );
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: var(--margin-block-start);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  font-family: var(--main-font-family), monospace;
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: var(--page-padding);
  right: var(--page-padding);
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: var(--page-padding);
  left: var(--page-padding);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.rec {
  position: absolute;
  top: var(--page-padding);
  right: 28px;
  z-index: 2;
  display: none;
  font-family: var(--main-font-family), monospace;
  font-size: 18px;
  line-height: 25px;
}

.rec::before {
  content: "REC";
  padding-right: var(--page-padding);
}

.rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: var(--rec-right);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #FF0070;
  background-color: var(--accent-color);
}

.header__title {
  color: var(--header-title-color);
  font-family: var(--main-font-family), monospace;
  font-weight: 700;
  font-size: var(--header-title-size);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--primary-color);
}

.header__text {
  justify-self: end;
  align-self: start;
  margin-block-start: var(--title-text-margin-block-start);
  color: var(--text-color);
  font-family: var(--main-font-family), monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  max-inline-size: var(--title-text-max-inline-size);
}

.title-decor {
  background-color: var(--primary-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
  margin-block-start: var(--content-margin-block-start);
  padding: 0 var(--page-padding);
}

.text-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.text-section__title {
  color: var(--accent-color);
  font-family: var(--main-font-family), monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.text-section__texts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.text-section__texts-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-section__texts-title {
  color: var(--text-color);
  font-family: var(--main-font-family), monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.text-section__item-description {
  color: var(--text-description-color);
  font-family: var(--main-font-family), monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.text-section__item-title {
  color: var(--text-color);
  font-family: var(--main-font-family), monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--primary-color);
}

.text-link:hover {
  border-bottom: 1px solid currentColor;
}

.text-link:focus-visible {
  border: 1px solid var(--text-description-color);
  outline: none;
}

.gallery {
  display: grid;
  gap: var(--gallery-gap);
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gallery-gap);
}

.gallery__item {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size:100%;
  max-block-size: 100%;
}

footer {
  block-size: 100vh;
  min-block-size: var(--min-block-size);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
}

.footer__title {
  color: var(--header-title-color);
  font-family: var(--main-font-family), monospace;
  font-weight: 700;
  font-size: var(--header-title-size);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--primary-color);
}





@media (min-width: 768px) and (orientation: portrait) {
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: span 2;
  }
  .gallery__item:nth-child(5) {
    grid-column: span 2;
  }

  .footer {
    margin-block-start: 60px;
  }

  .text-section {
    gap: 20px;
  }

  .text-section_type_primary {
    grid-template-columns: minmax(0, 236px) 1fr;
  }

  .text-section_type_secondary .text-section__title {
    max-width: 236px;
  }
  .header__title {
    margin-left: -20px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: span 2;
  }
  .gallery__item:nth-child(5) {
    grid-column: span 2;
  }

  .footer {
    margin-block-start: 60px;
  }

  .text-section_type_primary {
    grid-template-columns: minmax(0, 315px) 1fr;
    gap: 20px;
  }

  .text-section_type_secondary .text-section__title {
    max-width: 315px;
  }

  .text-section_type_secondary .text-section__texts {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__title {
    margin-left: -20px;
  }
}




