/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
   --page-bg-image: url('/images/cover-image.png');
   --min-height: 668px;
   --page-padding: 10px;
   --margin-block-start: 65px;
   --main-font-family: 'IBM Plex mono';
   --max-block-size: 648px;
   --h1-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
   --content-gap: 50px;
   --title-text-margin-block-start: 55px;
   --title-text-max-inline-size: 355px;
   --content-margin-block-start: 50px;
   --content-gap: 50px;
   --gallery-gap: 10px;
}

/*768x1024*/
@media (min-width: 768px) and (orientation: portrait) {
  :root {
    --min-height: 1024px;
    --page-padding: 20px;
    --margin-block-start: 172px;
    --max-block-size: 984px;
    --h1-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --content-gap: 80px;
    --title-text-margin-block-start: 162px;
    --title-text-max-inline-size: 364px;
    --content-margin-block-start: 80px;
    --content-gap: 80px;
    --gallery-gap: 20px;
  }
}

/*1024x768*/
@media (min-width: 1024px) and (orientation: landscape) {
  :root {
    --min-height: 768px;
    --page-padding: 20px;
    --margin-block-start: 0;
    --max-block-size: 728px;
    --h1-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --content-gap: 80px;
    --title-text-margin-block-start: 114px;
    --title-text-max-inline-size: 491px;
    --content-margin-block-start: 80px;
    --content-gap: 80px;
    --gallery-gap: 20px;
  }
}
